<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>falsch</key>
	<string>25002</string>
	<key>falscheszeichen</key>
	<string>25005</string>
	<key>richtig</key>
	<string>25001</string>
	<key>seriefertig</key>
	<string>25003</string>
</dict>
</plist>
