<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ach</key>
	<string>21008</string>
	<key>acht</key>
	<string>20008</string>
	<key>achzig</key>
	<string>20080</string>
	<key>drei</key>
	<string>20003</string>
	<key>dreissig</key>
	<string>20030</string>
	<key>ein</key>
	<string>21001</string>
	<key>eins</key>
	<string>20001</string>
	<key>elf</key>
	<string>20011</string>
	<key>fuenf</key>
	<string>20005</string>
	<key>fuenfzig</key>
	<string>20050</string>
	<key>hundert</key>
	<string>20100</string>
	<key>mal</key>
	<string>22003</string>
	<key>minus</key>
	<string>22002</string>
	<key>neun</key>
	<string>20009</string>
	<key>neunzig</key>
	<string>20090</string>
	<key>plus</key>
	<string>22001</string>
	<key>sech</key>
	<string>21006</string>
	<key>sechs</key>
	<string>20006</string>
	<key>sechzig</key>
	<string>20060</string>
	<key>sieb</key>
	<string>21007</string>
	<key>sieben</key>
	<string>20007</string>
	<key>siebzig</key>
	<string>20070</string>
	<key>tausend</key>
	<string>21000</string>
	<key>un</key>
	<string>22201</string>
	<key>und</key>
	<string>22200</string>
	<key>vier</key>
	<string>20004</string>
	<key>vierzig</key>
	<string>20040</string>
	<key>zehn</key>
	<string>20010</string>
	<key>zwanzig</key>
	<string>20020</string>
	<key>zwei</key>
	<string>20002</string>
	<key>zwoelf</key>
	<string>20012</string>
</dict>
</plist>
